.add_position_page_wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_position_page_wrapper form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.add_position_page_wrapper form input {
    width: 500px;
    height:25px;
    border-radius: 7px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #727272;
}

.add_position_page_button {
    height: 30px;
    width: 150px;
    border: 1px solid #727272;
    border-radius: 10px;
    color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 370px;
}

.add_position_page_button:hover {
    cursor: pointer;
    border: 1px solid black;
    color: black;
}

.position_page_error {
    color: red;
    font-size: 16px;
}

.add_position_page_skills_wrapper {
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.add_position_page_skill, .remove_position_page_skill {
    border: 1px solid #727272;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #727272;
}

.add_position_page_skill:hover {
    cursor: pointer;
    border: 1px solid green;
    color: green;
    background-color: #c8f1c8;
}

.remove_position_page_skill:hover {
    cursor: pointer;
    border: 1px solid red;
    color: red;
    background-color: #e1aaaa;
}

.add_position_page_skills_container_top {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.add_position_page_skills_container_top_title {
    font-size: 24px;
}

.add_position_page_skills_container {
    display: flex;
    column-gap: 30px;
}

.add_position_page_skills_button {
    height: 30px;
    width: 150px;
    border: 1px solid #727272;
    border-radius: 10px;
    color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.add_position_page_skills_button:hover {
    cursor: pointer;
    border: 1px solid black;
    color: black;
}

.add_position_page_skill_active {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid green;
    color: green;
    background-color: #c8f1c8;
}