.pagination {
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}

.pagination_item, .active_page {
    width: 35px;
    height: 35px;
    border: 1px solid #9f9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #9f9d9d;
    background-color: #1e1b1b;
    border-radius: 7px;
}

.pagination_item:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.active_page {
    border: 1px solid black;
    color: white;
    background-color: black;
}